# Node
node_modules/
build/
dist/
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# PyTorch and model files
*.pt
*.bin
*.safetensors
*.pth
*.h5
*.hdf5
*.pkl
*.t7
*.dylib
*.so
*.dll
*.pyd
*.pth.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
.idea/
*.bak
*.tmp

# Coverage
coverage/
*.cover
*.coverage

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Tailwind
*.css.map

# FastAPI
*.db

# Others
frontend/.next/
frontend/.cache/

uploads/

.runtimeconfig.json

.firebase